/* GLOBAL STYLES ---------------------------------------- */

html {
  font-family: 'Barlow Condensed', sans-serif;
}

h1,h2,h3,h4,h5 {
  margin-top:0;
  font-weight: 400;
}
h1 {
  font-family: 'Staatliches', cursive;
  font-weight: 400; font-size: 40pt;
  color: #fff;
  margin-top: 50px;
}

#results-page h1 {
  font-family: 'Staatliches', cursive;
  font-weight: 400; font-size: 40pt;
  color: #000;
  margin-top: 0;
}

h3 {
  font-family: 'Staatliches', cursive;
  font-size: 24pt;
}

body { margin: 0; }

button {
  font-family: 'Staatliches', cursive;
}

/* HOMEPAGE ---------------------------------------- */

#title, #results-title { text-align: center; }

.recipe-module {
  background-color: #fff;
  opacity: .9;
  padding: 35px;
  margin: 0 auto 15px auto;
  /* height: 100vh; */
  max-width: 400px;
}

.recipe-module p{
  font-size: 20px;
  line-height: 1;
}

/* Background Image */
#background1::before {
  position: absolute;
  content: "";
  background-image: url(images/drink-man.jpg);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
  height: 100%;
  width: 100%;
  opacity: 1;
  transition: background .5s linear;
  z-index: -5
}

#background1.change1::before {
  background-image: url(images/food-man.jpg);
}
#background1.change2::before {
  background-image: url(images/drink-woman.jpg);
}

/* Background Black Overlay */
#homepage .container::before{
  content: "";
  background-color: #000;
  position: absolute;
  top: 100vh;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .5;
  mix-blend-mode: normal;
  animation-name: bgmove;
  animation-delay: 3.5s;
  animation-duration: .35s;
  animation-fill-mode: both;
  z-index: -4;
}


@keyframes bgmove {
  from { top: -100vh; }
  to { top: 0; }
}

#homepage .container {
  padding-top: 2vh;
}

/* RESULTS PAGE ---------------------------------------- */

#results-background {
  background-image: url(images/result-page.jpg);
  background-attachment: fixed;
  background-color: #fff;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 100vh; */
  overflow: hidden;
}

#results-container {
  background-color: #fff;
  max-width: 680px;
  margin-left: auto;
  margin-right: auto;
  opacity: .9;
  padding: 25px;

}


#result-section {
  min-height: 2500px;
}


/* MEDIA QUERIES ---------------------------------------- */


@media all and (max-width: 780px){
  #homepage .container {
    padding-top: 0px;
  }
  h1 {
    font-size: 32pt;
  }
  /* Fix odd spacing by framework */
  #homepage .row .col {
  float: none;
  clear: both;
  }
}
