/* GLOBAL STYLES ---------------------------------------- */

html {
  font-family: 'Barlow Condensed', sans-serif;
}



h1,h2,h3,h4,h5 {
  margin-top:0;
  font-weight: 400;
}
h1 {
  font-family: 'Staatliches', cursive;
  font-weight: 400; font-size: 40pt;
  color: #fff;
  margin-top: 50px;
}

h3 {
  font-size: 22pt;
}

/* HOMEPAGE ---------------------------------------- */

#drink-recipe, #food-recipe {
  background-color: #fff;
  opacity: .9;
  padding: 25px;
}

#background {
  background-image: url(images/drink-man.jpg);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
  height: 100vh;
}

/* RESULTS PAGE ---------------------------------------- */

#background-results {
  background-image: url(images/result-page.jpg);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
  height: 100vh;

}
